<content data-show="game" data-context="game-content">
	<!-- start view -->
	<div data-area="start">
		<div class="top-level">23</div>
		<div class="top-coins">1234</div>
		<div class="top-jems">1234</div>
		<div class="wall"></div>
		<div class="chest"></div>
		<div class="wizard"></div>
		<div class="book"></div>
		<div class="ball"></div>
		<div class="cloud-1"></div>
		<div class="cloud-2"></div>
		<div class="btn-play"></div>
		<div class="settings">
			<div class="btn-info"></div>
			<div class="btn-fullscreen"></div>
			<div class="btn-music"></div>
		</div>
		<div class="btn-cog"></div>
	</div>

	<!-- game arena -->
	<div data-area="game">
		<div class="top-level">23</div>
		<div class="top-jems">1234</div>
		<div class="wall"></div>
		<div class="wizard"></div>
	</div>
</content>
