<content data-show="start" data-dialog="pause" data-context="game-content">
	<!-- start view -->
	<div data-area="start">
		<div class="top-level">23</div>
		<div class="top-coins">1234</div>
		<div class="top-jems">1234</div>
		<div class="wall"></div>
		<div class="chest"></div>
		<div class="wizard"></div>
		<div class="book"></div>
		<div class="ball"></div>
		<div class="cloud-1"></div>
		<div class="cloud-2"></div>
		<div class="btn-play"></div>
		<div class="settings">
			<div class="btn-info"></div>
			<div class="btn-fullscreen"></div>
			<div class="btn-music"></div>
		</div>
		<div class="btn-cog" data-click="toggle-settings"></div>
	</div>

	<!-- game arena -->
	<div data-area="game">
		<div class="top-level">23</div>
		<div class="top-jems">1234</div>
		<div class="wall"></div>
		<div class="wizard"></div>
	</div>

	<!-- academy view -->
	<div data-area="academy">
		<div class="bg-academy">
			<div class="dlg-exit-button"></div>
			<div class="btn-ok"></div>
		</div>
	</div>

	<!-- laboratory view -->
	<div data-area="laboratory">
		<div class="bg-laboratory">
			<div class="dlg-exit-button"></div>
			<h2>Laboratory</h2>
			<div class="frontline">
				<h3>Upgrade Frontline</h3>
				<div class="info">
					<span class="value">36</span>
					<span class="price">510</span>
				</div>
			</div>
			<div class="ammo">
				<span class="front-ammo">
					<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
				</span>
				<span class="back-ammo">
					<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
				</span>
			</div>
			<div class="backline">
				<div class="info">
					<span class="value">36</span>
					<span class="price active">510</span>
				</div>
				<h3>Upgrade Backline</h3>
			</div>
			<div class="total">
				<h3>Total Damage</h3>
				<span>69</span>
			</div>
		</div>
	</div>

	<!-- pause view -->
	<div data-area="pause">
		<div class="bg-pause">
			<div class="dlg-exit-button"></div>
			<div class="btn-resume"></div>
		</div>
	</div>
</content>
