<content data-show="start" data-context="game-content">

	<!-- top-bar -->
	<div class="top-bar">
		<div class="shield">23</div>
		<div class="level">23</div>
		<div class="waves">
			<i class="marker-chest on1"></i>
			<i class="marker-key on1"></i>
		</div>
		<div class="coins">1234</div>
		<div class="jems">1234</div>
	</div>

	<!-- start view -->
	<div data-area="start">
		<div class="wall" data-click="open-dialog" data-arg="wall"></div>
		<div class="chest" data-click="open-dialog" data-arg="reward">
			<span class="timer">00:30</span>
		</div>
		<div class="wizard"></div>
		<div class="book" data-click="open-dialog" data-arg="academy"></div>
		<div class="ball" data-click="open-dialog" data-arg="laboratory"></div>
		<div class="cloud-1"></div>
		<div class="cloud-2"></div>
		<div class="btn-play" data-click="show-view" data-arg="game"></div>
		<div class="settings">
			<div class="btn-info"></div>
			<div class="btn-fullscreen"></div>
			<div class="btn-music"></div>
		</div>
		<div class="btn-cog" data-click="toggle-settings"></div>
	</div>

	<!-- game arena -->
	<div data-area="game">
		<div class="wall"></div>
		<div class="front-damage">123</div>
		<div class="back-damage">123</div>
		<div class="line-damage">87</div>
		<div class="btn-pause" data-click="open-dialog" data-arg="pause"></div>
		<div class="skill-magic"></div>
		<div class="skill-comet"></div>
		<div class="clear disabled1"></div>
		<div class="next-position"></div>
		<div class="wizard"></div>
	</div>

	<!-- academy view -->
	<div data-area="academy" data-click="empty-close-dialog">
		<div class="bg-academy">
			<div class="dlg-exit-button" data-click="close-dialog"></div>
			<h2>Academy</h2>
			<h3 class="front">Frontline</h3>
			<h3 class="back">Backline</h3>
			<h3 class="magic">Magic Skills</h3>

			<div class="box front">
				<span class="value">36</span>
				<span class="price disabled">11</span>
			</div>
			<div class="box back">
				<span class="value">36</span>
				<span class="price active">510</span>
			</div>
			<div class="box potion">
				<span class="value">36</span>
				<span class="price active">510</span>
			</div>
			<div class="box comet">
				<span class="value">36</span>
				<span class="price active">510</span>
			</div>

			<div class="btn-ok" data-click="close-dialog"></div>
		</div>
	</div>

	<!-- laboratory view -->
	<div data-area="laboratory" data-click="empty-close-dialog">
		<div class="bg-laboratory">
			<div class="dlg-exit-button" data-click="close-dialog"></div>
			<h2>Laboratory</h2>
			<div class="frontline">
				<h3>Upgrade Frontline</h3>
				<div class="info">
					<span class="value">36</span>
					<span class="price active" data-click="upgrade-frontline">510</span>
				</div>
			</div>
			<div class="ammo">
				<span class="front-ammo">
					<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
				</span>
				<span class="back-ammo">
					<i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i>
				</span>
			</div>
			<div class="backline">
				<div class="info">
					<span class="value">36</span>
					<span class="price active" data-click="upgrade-backline">510</span>
				</div>
				<h3>Upgrade Backline</h3>
			</div>
			<div class="total">
				<h3>Total Damage</h3>
				<span>69</span>
			</div>
		</div>
	</div>

	<!-- wall view -->
	<div data-area="wall" data-click="empty-close-dialog">
		<div class="bg-wall">
			<div class="dlg-exit-button" data-click="close-dialog"></div>
			<h2>Wall</h2>
			<div class="text">
				The wall protects you from enemies
			</div>
			<div class="info">
				<span class="value">36</span>
				<span class="price active1">600</span>
			</div>
			<div class="btn-ok" data-click="close-dialog"></div>
		</div>
	</div>

	<!-- reward view -->
	<div data-area="reward" data-click="empty-close-dialog">
		<div class="bg-reward">
			<div class="dlg-exit-button" data-click="close-dialog"></div>
			<div class="enemies-defeated">
				<h2>Completed!</h2>
				<h3>Enemies Defeated</h3>
			</div>
			<h2>Reward</h2>
			<div class="info">
				<span class="jems">23</span>
				<span class="coins">23</span>
			</div>
			<div class="btn-ok" data-click="close-dialog"></div>
		</div>
	</div>

	<!-- pause view -->
	<div data-area="pause">
		<div class="bg-pause">
			<!-- <div class="dlg-exit-button" data-click="close-dialog"></div> -->
			<h2>Paused</h2>
			<div class="options">
				<div class="btn-fullscreen"></div>
				<div class="btn-gamepad"></div>
				<div class="btn-audio"></div>
				<div class="btn-replay"></div>
				<div class="btn-home" data-click="go-to-start"></div>
			</div>
			<div class="btn-resume" data-click="resume-game"></div>
		</div>
	</div>
</content>
