
background: #0063ac;
color: #fff;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	font-family: "Bakbak One";
	font-size: 26px;
	min-height: 0;
	transition: min-height 300ms;

	h1, h2, h3, h4 {
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -.5px;
	}

	h2 {
		color: #006eeb;
		font-size: 28px;
		text-shadow: 0 1px 0 #fffa;
	}

	h3 {
		font-size: 19px;
		text-shadow: 0 1px 0 #fff6;
	}

	&[data-show="start"] {
		> div[data-area="start"] {
			display: block;
			transform: translateX(0%) scale(1, 1);
		}

		> div[data-area="game"] {
			display: block;
			transform: translateX(50%) scale(0, 1);
		}
	}

	&[data-show="game"] {
		.top-bar {
			top: 8px;

			.shield { opacity: 0; }
			.level { left: -3px; }
			.waves { opacity: 1; left: 53px; width: 291px; overflow: visible; }
			.coins { opacity: 0; }
			.jems { left: 368px; }
		}

		> div[data-area="start"] {
			display: block;
			transform: translateX(-50%) scale(0, 1);
		}

		> div[data-area="game"] {
			transform: translateX(0%) scale(1, 1);
			overflow: hidden;
			display: block;
		}
	}

	// transitions
	&.start-to-game {
		min-height: 1px;
		transition-duration: 500ms;

		.top-bar {
			top: 8px;
			
			.shield { opacity: 0; }
			.level { left: -3px; }
			.waves { opacity: 1; left: 53px; width: 291px; }
			.coins { opacity: 0; }
			.jems { left: 368px; }
		}

		> div[data-area="start"] {
			transform: translateX(-50%) scale(0, 1);
		}

		> div[data-area="game"] {
			transform: translateX(0%) scale(1, 1);
		}
	}

	&.game-to-start {
		min-height: 1px;
		transition-duration: 500ms;

		.top-bar {
			top: 17px;
			transition-delay: 500ms;
			--td: 300ms;
			
			.shield { opacity: 1; }
			.level { left: 77px; }
			.waves { opacity: 0; left: 0; width: 0; }
			.coins { opacity: 1; }
			.jems { left: 366px; }
		}

		> div[data-area="start"] {
			transform: translateX(0%) scale(1, 1);
		}

		> div[data-area="game"] {
			transform: translateX(50%) scale(0, 1);
		}
	}


	&[data-dialog="academy"] > div[data-area="academy"],
	&[data-dialog="laboratory"] > div[data-area="laboratory"],
	&[data-dialog="wall"] > div[data-area="wall"],
	&[data-dialog="reward"] > div[data-area="reward"],
	&[data-dialog="pause"] > div[data-area="pause"] {
		opacity: 1;
		visibility: visible;
		pointer-events: initial;
	}


	&.open-dialog {
		min-height: 1px;

		> div[data-area="wall"]       { z-index: 3; .bg-wall { opacity: 1; transform: scale(1); } }
		> div[data-area="reward"]     { z-index: 3; .bg-reward { opacity: 1; transform: scale(1); } }
		> div[data-area="laboratory"] { z-index: 3; .bg-laboratory { opacity: 1; transform: scale(1); } }
		> div[data-area="academy"]    { z-index: 3; .bg-academy { opacity: 1; transform: scale(1); } }
		> div[data-area="pause"]      { z-index: 3; .bg-pause { opacity: 1; transform: scale(1); } }
	}

	> div {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;
		transition: all ease-in-out;
		transition-duration: inherit;

		div[class^="bg-"] {
			opacity: 0;
			transform: scale(.9);
			transition: opacity 300ms ease-in-out,
						transform 300ms ease-in-out;
		}

		&[data-area="start"] {
			display: none;
			background: url(~/gfx/bg-sheet0.webp) 50% 50% no-repeat;
			background-position: 0 0;

			.wall {
				background: url(~/gfx/homeborder-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 50px;
				left: 0;
				right: 0;
				height: 160px;
				
				&:before {
					content: "";
					// background: #0001;
					position: absolute;
					top: 25px;
					left: 0;
					right: 0;
					bottom: 55px;
					cursor: pointer;
				}

				.btn-upgrade {
					top: 54px;
					left: 101px;
				}
			}

			.wizard {
				background: url(~/gfx/wizard.webp) 50% 50% no-repeat;
				// background-position: 0 0;
				position: absolute;
				top: 163px;
				left: 200px;
				width: 88px;
				height: 128px;
				animation: wizard-hover 1800ms steps(15) infinite;
			}

			.chest {
				background: url(~/gfx/awardbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 193px;
				left: 39px;
				width: 111px;
				height: 125px;
				
				&:before {
					content: "";
					// background: #0001;
					position: absolute;
					top: 5px;
					left: 0;
					right: 0;
					bottom: 5px;
					border-radius: 50%;
					cursor: pointer;
				}

				.timer {
					background: #fff;
					position: absolute;
					top: 120px;
					left: 5px;
					border-radius: 30px;
					padding: 5px 11px 5px 34px;
					font-size: 23px;
					color: #265dbc;
					box-shadow: 0px 4px 0px 0px darken(#fff, 15%),
								0 5px 9px #000;

					&:before {
						content: "";
						background: url(~/gfx/clock.webp) 50% 50%/contain no-repeat;
						position: absolute;
						top: 5px;
						left: 6px;
						width: 25px;
						height: 25px;
					}
				}
			}

			.book {
				background: url(~/gfx/skilllevelbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 216px;
				left: 330px;
				width: 121px;
				height: 112px;
				
				&:before {
					content: "";
					// background: #0001;
					position: absolute;
					top: 5px;
					left: 0;
					right: 0;
					bottom: 5px;
					border-radius: 50%;
					cursor: pointer;
				}

				.btn-upgrade {
					top: 73px;
					left: 43px;
				}
			}

			.ball {
				background: url(~/gfx/balllevelbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 338px;
				left: 187px;
				width: 109px;
				height: 137px;
				
				&:before {
					content: "";
					// background: #0001;
					position: absolute;
					top: -5px;
					left: 0;
					right: 0;
					bottom: 5px;
					border-radius: 50%;
					cursor: pointer;
				}

				.btn-upgrade {
					top: 101px;
					left: 33px;
				}
			}

			.cloud-1 {
				background: url(~/gfx/yun1-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 545px;
				// left: -63px;
				width: 250px;
				height: 308px;
				animation: left-cloud 13s ease-in-out alternate infinite;
			}

			.cloud-2 {
				background: url(~/gfx/yun2-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 505px;
				// left: 257px;
				width: 361px;
				height: 364px;
				animation: right-cloud 19s ease-in-out alternate infinite;
			}

			.btn-play {
				background: url(~/gfx/playbtn-sheet0.webp) 50% 50% no-repeat;
				background-position: 0 0;
				position: absolute;
				top: 615px;
				left: 131px;
				width: 220px;
				height: 114px;

				&:active {
					background-position: 0 -117px;
				}
			}

			.btn-cog {
				background: url(~/gfx/settingbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 705px;
				left: 21px;
				width: 78px;
				height: 81px;
				cursor: pointer;
			}

			.settings {
				opacity: 0;
				background: #0004;
				position: absolute;
				bottom: 12px;
				left: 18px;
				width: 84px;
				height: 84px;
				border-radius: 7px;
				padding: 8px;
				transition: opacity 250ms ease-in-out,
							height 250ms ease-in-out;

				&.show {
					opacity: 1;
					height: 312px;

					> div {
						opacity: 1;
						margin-bottom: 3px;
					}
				}

				> div {
					opacity: 0;
					margin-bottom: -40px;
					transition: opacity 200ms ease-in-out,
								margin-bottom 200ms ease-in-out;
					cursor: pointer;
				}

				.btn-info {
					display: inline-block;
					background: url(~/gfx/creditsbtn-sheet0.webp) 50% 50%/contain no-repeat;
					width: 67px;
					height: 67px;
				}

				.btn-fullscreen {
					display: inline-block;
					background: url(~/gfx/fullscreenbtn-sheet0.webp) 50% 50%/contain no-repeat;
					width: 67px;
					height: 67px;
				}

				.btn-music {
					background: url(~/gfx/musicbtn-sheet0.webp) 50% 50%/contain no-repeat;
					display: inline-block;
					width: 67px;
					height: 67px;
				}
			}
		}

		&[data-area="game"] {
			display: none;
			background: url(~/gfx/bg-sheet0.webp) 50% 50% no-repeat;
			background-position: -482px 0;

			.wall {
				background: url(~/gfx/homeborder-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 610px;
				left: 0;
				right: 0;
				height: 160px;
			}

			.front-damage {
				background: url(~/gfx/bulletattack-sheet0.webp) no-repeat;
				background-position: 0 0;
				position: absolute;
				top: 390px;
				left: 7px;
				width: 50px;
				height: 51px;
				padding: 49px 0 0 18px;
				font-size: 18px;
				text-shadow: 0 1px 1px #f00a,
							0 -1px 1px #f00a,
							1px 0 1px #f00a,
							-1px 0 1px #f00a;

				&:before {
					content: "";
					background: url(~/gfx/attsprite-sheet0.webp) 50% 50%/contain no-repeat;
					position: absolute;
					top: 46px;
					left: -4px;
					width: 22px;
					height: 22px;
				}
			}

			.back-damage {
				background: url(~/gfx/bulletattack-sheet0.webp) no-repeat;
				background-position: -54px 0;
				position: absolute;
				top: 470px;
				left: 7px;
				width: 50px;
				height: 51px;
				padding: 49px 0 0 18px;
				font-size: 18px;
				text-shadow: 0 1px 1px #f00a,
							0 -1px 1px #f00a,
							1px 0 1px #f00a,
							-1px 0 1px #f00a;

				&:before {
					content: "";
					background: url(~/gfx/attsprite-sheet0.webp) 50% 50%/contain no-repeat;
					position: absolute;
					top: 46px;
					left: -4px;
					width: 22px;
					height: 22px;
				}
			}

			.line-damage {
				background: #0006;
				position: absolute;
				top: 556px;
				left: 7px;
				width: 46px;
				height: 25px;
				border-radius: 5px;
				box-shadow: 0px 4px 0px 0px #0007;
				padding: 4px 0 0 21px;
				font-size: 18px;
				text-shadow: 0 1px 1px #f00a,
							0 -1px 1px #f00a,
							1px 0 1px #f00a,
							-1px 0 1px #f00a;

				&:before {
					content: "";
					background: url(~/gfx/attsprite-sheet0.webp) 50% 50%/contain no-repeat;
					position: absolute;
					top: 1px;
					left: -6px;
					width: 24px;
					height: 24px;
				}
			}

			.btn-pause {
				background: #0006 url(~/gfx/pausebtn-sheet0.png) 50% 2px/contain no-repeat;
				position: absolute;
				top: 51px;
				left: 425px;
				width: 46px;
				height: 40px;
				border-radius: 5px;
				box-shadow: 0px 5px 0px 0px #0007;
				cursor: pointer;

				&:active {
					top: 52px;
					box-shadow: 0px 4px 0px 0px #0007;
				}
			}

			.skill-magic {
				background: url(~/gfx/playerskillsbtn-sheet1.webp) 50% 50%/contain no-repeat;
				position: absolute;
				top: 397px;
				left: 421px;
				width: 60px;
				height: 61px;
				cursor: pointer;

				&:active {
					top: 391px;
					filter: brightness(.9) contrast(.9);
				}
			}

			.skill-comet {
				background: url(~/gfx/playerskillsbtn-sheet0.webp) 50% 50%/contain no-repeat;
				position: absolute;
				top: 462px;
				left: 421px;
				width: 60px;
				height: 61px;
				cursor: pointer;

				&:active {
					top: 456px;
					filter: brightness(.9) contrast(.9);
				}
			}

			.clear {
				background: #0006 url(~/gfx/clearballbtn-sheet1.webp) 50% 2px/contain no-repeat;
				position: absolute;
				top: 540px;
				left: 429px;
				width: 46px;
				height: 40px;
				border-radius: 5px;
				box-shadow: 0px 5px 0px 0px #0007;
				cursor: pointer;

				&:active:not(.disabled) {
					top: 541px;
					box-shadow: 0px 4px 0px 0px #0007;
				}

				&.disabled {
					opacity: .6;
					cursor: default;
				}
			}

			.next-position {
				background: url(~/gfx/endpostion-sheet0.webp) 50% 50%/contain no-repeat;
				position: absolute;
				top: 701px;
				left: 120px;
				width: 37px;
				height: 37px;
				animation: rotate-360 5s linear infinite;
			}

			.wizard {
				background: url(~/gfx/wizard-back.webp) 50% 50% no-repeat;
				// background-position: 0 0;
				position: absolute;
				top: 657px;
				left: 200px;
				width: 98px;
				height: 111px;
				animation: wizard-back-hover 1600ms steps(14) infinite;
			}
		}

		&[data-area="wall"] {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			backdrop-filter: blur(3px);
			background: #0005;
			color: #004bad;

			.bg-wall {
				background: url(~/gfx/wallbg-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 167px;
				left: 89px;
				width: 300px;
				height: 403px;

				.dlg-exit-button {
					top: 28px;
					right: 17px;
				}

				h2 {
					position: absolute;
					top: 89px;
					left: 40px;
					right: 40px;
				}

				.text {
					position: absolute;
					top: 142px;
					left: 54px;
					width: 190px;
					text-align: center;
					text-transform: uppercase;
					font-size: 22px;
					text-shadow: 0 1px 0 #fff;
				}

				.info {
					position: absolute;
					top: 240px;
					left: 53px;
					width: 150px;
					// height: 28px;
				}

				.btn-ok {
					bottom: -5px;
					left: 93px;
				}
			}
		}

		&[data-area="reward"] {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			backdrop-filter: blur(3px);
			background: #0005;
			color: #004bad;

			&.completed {
				// background: #341453;
				background-image:
					repeating-linear-gradient(135deg, #ffffff07 0px, #ffffff07 1px, #fff0 1px, #fff0 9px),
					repeating-linear-gradient(45deg, #ffffff07 0px, #ffffff07 1px, #fff0 1px, #fff0 9px),
					linear-gradient(180deg, #713ca0, #341453);

				&:before {
					content: "";
					background: url(~/gfx/winsp-sheet0.webp) 50% 50%/contain no-repeat;
					position: absolute;
					top: 90px;
					left: -90px;
					width: 670px;
					height: 670px;
					animation: rotate-360 20s linear infinite;
				}

				.bg-reward {
					top: 227px;

					.enemies-defeated {
						display: block;
						position: absolute;
						top: -150px;
						left: -20px;
						right: -20px;
						text-align: center;

						h2 {
							top: 0px;
							left: 0;
							right: 0;
							font-size: 48px;
							color: #da77ff;
							text-shadow: 0 0 7px #fff5;
						}

						h3 {
							position: absolute;
							top: 60px;
							left: 0;
							right: 0;
							font-size: 28px;
							color: #d997f1;
							text-shadow: 0 0 7px #fff5;
						}
					}
				}
			}

			.bg-reward {
				background: url(~/gfx/chestbg-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 167px;
				left: 89px;
				width: 300px;
				height: 403px;

				.dlg-exit-button {
					top: 60px;
					right: 13px;
				}

				.enemies-defeated {
					display: none;
				}

				h2 {
					position: absolute;
					top: 110px;
					left: 40px;
					right: 40px;
				}

				.info {
					position: absolute;
					top: 170px;
					left: 77px;
					width: 150px;
					height: 95px;
					padding: 11px 31px;

					&:before {
						display: none;
					}

					.jems {
						// background: #0005;
						position: relative;
						display: block;
						font-size: 28px;
						padding: 3px 0 0 43px;
						margin-bottom: 9px;
						
						&:before {
							content: "";
							background: url(~/gfx/jem.webp) 50% 50% no-repeat;
							position: absolute;
							top: -1px;
							left: -1px;
							width: 35px;
							height: 35px;
						}
					}

					.coins {
						// background: #0005;
						position: relative;
						display: block;
						font-size: 28px;
						padding: 3px 0 0 43px;
						
						&:before {
							content: "";
							background: url(~/gfx/coin.webp) 50% 50% no-repeat;
							position: absolute;
							top: -1px;
							left: -1px;
							width: 35px;
							height: 35px;
						}
					}
				}

				.btn-ok {
					bottom: -5px;
					left: 93px;
				}
			}
		}

		&[data-area="pause"] {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			backdrop-filter: blur(3px);
			background: #0005;
			color: #004bad;

			.bg-pause {
				background: url(~/gfx/pausebg-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 167px;
				left: 89px;
				width: 300px;
				height: 403px;

				.dlg-exit-button {
					top: 32px;
					right: 13px;
				}

				h2 {
					position: absolute;
					top: 89px;
					left: 40px;
					right: 40px;
				}

				.options {
					// background: #0002;
					position: absolute;
					top: 122px;
					left: 75px;
					width: 142px;
					height: 190px;
					font-size: 0;

					> div {
						display: inline-block;
						width: 67px;
						height: 67px;
						cursor: pointer;
					}
				}

				.btn-fullscreen {
					background: url(~/gfx/fullscreenbtn-sheet0.webp) 50% 50%/contain no-repeat;
					margin: 0 8px 0 0;
				}

				.btn-gamepad {
					background: url(~/gfx/gamepadbtn-sheet0.webp) 50% 50%/contain no-repeat;
				}

				.btn-audio {
					background: url(~/gfx/musicbtn-sheet0.webp) 50% 50%/contain no-repeat;
					margin: 0 8px 0 0;
				}

				.btn-replay {
					background: url(~/gfx/replaygamebtn-sheet0.webp) 50% 50%/contain no-repeat;
				}

				div.btn-home {
					background: url(~/gfx/backhomebtn-sheet0.webp) 50% 50%/contain no-repeat;
					width: 137px;
					margin: 0 0 0 2px;
				}
			}
		}

		&[data-area="academy"] {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			backdrop-filter: blur(3px);
			background: #0005;
			color: #004bad;

			.bg-academy {
				background: url(~/gfx/academybg-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 67px;
				left: 59px;
				width: 360px;
				height: 625px;

				.dlg-exit-button {
					top: 48px;
				}

				h2 {
					position: absolute;
					top: 100px;
					left: 40px;
					right: 40px;
				}

				h3 {
					position: absolute;
					color: #006ae0;

					&.front {
						top: 152px;
						left: 63px;
					}

					&.back {
						top: 152px;
						left: 208px;
					}

					&.magic {
						top: 350px;
						left: 120px;
					}
				}

				.box {
					// background: #0002;
					position: absolute;
					width: 101px;
					height: 47px;
					text-align: center;

					&.front {
						top: 256px;
						left: 59px;
					}

					&.back {
						top: 256px;
						left: 199px;
					}

					&.potion {
						top: 463px;
						left: 59px;
					}

					&.comet {
						top: 463px;
						left: 199px;
					}

					.value {
						position: relative;
						padding: 0 0 0 31px;
						color: #fff;
						font-size: 22px;
						text-shadow: 0 1px 1px #f00a,
									0 -1px 1px #f00a,
									1px 0 1px #f00a,
									-1px 0 1px #f00a;

						&:before {
							content: "";
							background: url(~/gfx/attsprite-sheet0.webp) 50% 50%/contain no-repeat;
							position: absolute;
							top: 3px;
							left: 5px;
							width: 24px;
							height: 24px;
						}
					}

					.price {
						background: url(~/gfx/academybtn-sheet0.webp) 50% 50% no-repeat;
						background-position: 0 -34px;
						background-size: 100% auto;
						position: absolute;
						bottom: -17px;
						left: 0;
						width: 99px;
						height: 33px;
						color: #fff;
						font-size: 18px;
						text-align: left;
						text-shadow: 0 1px 1px #000a,
									0 -1px 1px #000a,
									1px 0 1px #000a,
									-1px 0 1px #000a;
						padding: 6px 0 0 49px;
						filter: drop-shadow(0 0 1px #0007);

						&.active {
							background-position: 0 0;
							cursor: pointer;
						}

						&.disabled {
							background-position: 0 -69px;
							left: 11px;
							padding-left: 42px;
							color: #265dbc;
							text-shadow: 0 1px 1px #265dbc33,
										0 -1px 1px #265dbc33,
										1px 0 1px #265dbc33,
										-1px 0 1px #265dbc33;
						}
					}
				}
			}
		}

		&[data-area="laboratory"] {
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			backdrop-filter: blur(3px);
			background: #0005;
			color: #004bad;

			.bg-laboratory {
				background: url(~/gfx/laboratorybg-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 67px;
				left: 60px;
				width: 360px;
				height: 636px;

				.dlg-exit-button {
					top: 57px;
				}

				h2 {
					position: absolute;
					top: 114px;
					left: 40px;
					right: 40px;
				}

				h3 {
					margin: 7px 0;
				}
			}

			.ammo {
				// background: #0001;
				position: absolute;
				top: 231px;
				left: 72px;
				width: 220px;
				height: 219px;
				// ammo levels
				--l01: -1px -59px;
				--l02: -31px -59px;
				--l03: -61px -59px;
				--l04: -91px -59px;
				--l05: -1px -81px;
				--l06: -31px -81px;
				--l07: -61px -81px;
				--l08: -91px -81px;
				--l09: -1px -103px;
				--l10: -31px -103px;

				i {
					background: url(~/gfx/ammo.webp) -33px -33px no-repeat;
					position: absolute;
					width: 28px;
					height: 18px;
					transform: translateY(-2px) translateX(-7px) scale(0.8);

					&:before {
						opacity: 0;
						content: "+1";
						position: absolute;
						top: -5px;
						left: -1px;
						width: 30px;
						text-align: center;
						font-size: 18px;
						color: #fff;
						text-shadow: 0 1px 1px #b00a,
									0 -1px 1px #b00a,
									1px 0 1px #b00a,
									-1px 0 1px #b00a;
						transition: opacity 120ms ease-in-out,
									top 120ms ease-in-out;
					}
				}

				.front-ammo {
					--flvl: var( --l09 );
					min-height: 0;
					transition: min-height 1100ms;

					&.upgrade {
						min-height: 1px;

						i:before {
							opacity: 1;
							top: -17px;
						}
					}

					i {
						background-position: var( --flvl );

						&:nth-child(1) { top: 5px; left: 3px; &:before { transition-delay: 950ms; } }
						&:nth-child(2) { top: 5px; left: 36px; &:before { transition-delay: 900ms; } }
						&:nth-child(3) { top: 5px; left: 68px; &:before { transition-delay: 850ms; } }
						&:nth-child(4) { top: 5px; left: 100px; &:before { transition-delay: 800ms; } }
						&:nth-child(5) { top: 5px; left: 133px; &:before { transition-delay: 750ms; } }
						&:nth-child(6) { top: 5px; left: 165px; &:before { transition-delay: 700ms; } }
						&:nth-child(7) { top: 5px; left: 197px; &:before { transition-delay: 650ms; } }

						&:nth-child(8) { top: 44px; left: 19px; &:before { transition-delay: 350ms; } }
						&:nth-child(9) { top: 44px; left: 52px; &:before { transition-delay: 400ms; } }
						&:nth-child(10) { top: 44px; left: 84px; &:before { transition-delay: 450ms; } }
						&:nth-child(11) { top: 44px; left: 116px; &:before { transition-delay: 500ms; } }
						&:nth-child(12) { top: 44px; left: 149px; &:before { transition-delay: 550ms; } }
						&:nth-child(13) { top: 44px; left: 181px; &:before { transition-delay: 600ms; } }

						&:nth-child(14) { top: 83px; left: 3px; &:before { transition-delay: 300ms; } }
						&:nth-child(15) { top: 83px; left: 36px; &:before { transition-delay: 250ms; } }
						&:nth-child(16) { top: 83px; left: 68px; &:before { transition-delay: 200ms; } }
						&:nth-child(17) { top: 83px; left: 100px; &:before { transition-delay: 150ms; } }
						&:nth-child(18) { top: 83px; left: 133px; &:before { transition-delay: 100ms; } }
						&:nth-child(19) { top: 83px; left: 165px; &:before { transition-delay: 50ms; } }
						&:nth-child(20) { top: 83px; left: 197px; &:before { transition-delay: 0ms; } }
					}
				}

				.back-ammo {
					--blvl: var( --l10 );
					min-height: 0;
					transition: min-height 1100ms;

					&.upgrade {
						min-height: 1px;

						i:before {
							opacity: 1;
							top: -17px;
						}
					}

					i {
						background-position: var( --blvl );
						
						&:nth-child(1) { top: 122px; left: 3px; &:before { transition-delay: 300ms; } }
						&:nth-child(2) { top: 122px; left: 36px; &:before { transition-delay: 250ms; } }
						&:nth-child(3) { top: 122px; left: 68px; &:before { transition-delay: 200ms; } }
						&:nth-child(4) { top: 122px; left: 100px; &:before { transition-delay: 150ms; } }
						&:nth-child(5) { top: 122px; left: 133px; &:before { transition-delay: 100ms; } }
						&:nth-child(6) { top: 122px; left: 165px; &:before { transition-delay: 50ms; } }
						&:nth-child(7) { top: 122px; left: 197px; &:before { transition-delay: 0ms; } }

						&:nth-child(8) { top: 160px; left: 19px; &:before { transition-delay: 350ms; } }
						&:nth-child(9) { top: 160px; left: 52px; &:before { transition-delay: 400ms; } }
						&:nth-child(10) { top: 160px; left: 84px; &:before { transition-delay: 450ms; } }
						&:nth-child(11) { top: 160px; left: 116px; &:before { transition-delay: 500ms; } }
						&:nth-child(12) { top: 160px; left: 149px; &:before { transition-delay: 550ms; } }
						&:nth-child(13) { top: 160px; left: 181px; &:before { transition-delay: 600ms; } }

						&:nth-child(14) { top: 200px; left: 3px; &:before { transition-delay: 950ms; } }
						&:nth-child(15) { top: 200px; left: 36px; &:before { transition-delay: 900ms; } }
						&:nth-child(16) { top: 200px; left: 68px; &:before { transition-delay: 850ms; } }
						&:nth-child(17) { top: 200px; left: 100px; &:before { transition-delay: 800ms; } }
						&:nth-child(18) { top: 200px; left: 133px; &:before { transition-delay: 750ms; } }
						&:nth-child(19) { top: 200px; left: 165px; &:before { transition-delay: 700ms; } }
						&:nth-child(20) { top: 200px; left: 197px; &:before { transition-delay: 650ms; } }
					}
				}
			}

			.frontline {
				position: absolute;
				top: 157px;
				left: 40px;
				right: 40px;
			}

			.backline {
				position: absolute;
				top: 463px;
				left: 40px;
				right: 40px;
			}

			.total {
				position: absolute;
				top: 542px;
				left: 40px;
				right: 40px;
				text-align: center;

				h3 {
					display: inline-block;
				}

				span {
					display: inline-block;
					position: relative;
					top: 1px;
					padding-left: 26px;
					color: #fff;
					font-size: 26px;
					text-shadow: 0 1px 1px #f00a,
								0 -1px 1px #f00a,
								1px 0 1px #f00a,
								-1px 0 1px #f00a;

					&:before {
						content: "";
						background: url(~/gfx/attsprite-sheet0.webp) 50% 50%/contain no-repeat;
						position: absolute;
						top: 1px;
						left: 0px;
						width: 24px;
						height: 24px;
					}
				}
			}
		}

		&.top-bar {
			position: absolute;
			top: 17px;
			left: 17px;
			right: 17px;
			bottom: auto;
			z-index: 2;
			transition: top 200ms ease-in-out;
			pointer-events: none;
			--td: 500ms;

			.shield {
				background: #ba62e9;
				position: absolute;
				top: 0;
				left: 0;
				width: 67px;
				height: 29px;
				padding: 3px 0 0 29px;
				border-radius: 3px;
				font-size: 23px;
				color: #fff;
				opacity: 1;
				transition: opacity 150ms ease-in-out;
				transition-delay: var( --td );
				box-shadow: 0px 5px 0px 0px darken(#ba62e9, 13%);

				&:before {
					content: "";
					background: url(~/icons/icon-shield.png) 50% 50%/contain no-repeat;
					position: absolute;
					top: -1px;
					left: -12px;
					width: 32px;
					height: 32px;
				}
			}

			.level {
				background: #fff;
				position: absolute;
				top: 0;
				left: 77px;
				width: 58px;
				height: 29px;
				z-index: 2;
				padding: 3px 0 0 26px;
				border-radius: 3px;
				font-size: 23px;
				color: #265dbc;
				transition: left 150ms ease-in-out;
				transition-delay: var( --td );
				box-shadow: 0px 5px 0px 0px darken(#fff, 13%);

				&:before {
					content: "";
					background: url(~/gfx/flag.webp) 50% 50% no-repeat;
					position: absolute;
					top: 3px;
					left: 5px;
					width: 17px;
					height: 22px;
				}
			}

			.waves {
				opacity: 0;
				background: #3b6db9;
				position: absolute;
				top: 1px;
				left: 0;
				width: 0;
				height: 27px;
				overflow: hidden;
				padding: 3px 0 0 29px;
				border-radius: 0 4px 4px 0;
				box-shadow: 0px 5px 0px 0px darken(#3b6db9, 13%);
				transition: opacity 150ms ease-in-out,
							left 150ms ease-in-out,
							width 150ms ease-in-out;
				transition-delay: calc( var( --td ) * 1.5 );

				&:before {
					content: "";
					background: repeating-linear-gradient(90deg, #1d3c6c 0, #1d3c6c 11px, #0000 11px, #0000 14px);
					position: absolute;
					top: 11px;
					left: 7px;
					width: 277px;
					height: 7px;
				}

				&:after {
					content: "";
					background: repeating-linear-gradient(90deg, #fff 0, #fff 11px, #0000 11px, #0000 14px);
					position: absolute;
					top: 11px;
					left: 7px;
					width: 167px;
					height: 7px;
					filter: drop-shadow(0 1px 0 #1d3c6c);
				}

				.marker-chest {
					position: absolute;
					top: 21px;
					left: 161px;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 6px solid #fff;
					min-height: 0;
					transition: min-height 3s;

					&:after {
						content: "";
						background: url(~/gfx/treasure-sheet0.webp) no-repeat;
						background-size: 66px auto;
						background-position: 0 0;
						position: absolute;
						top: 9px;
						left: -16px;
						width: 32px;
						height: 32px;
					}

					&.on {
						min-height: 1px;

						&:after {
							background-position: -34px 0;
						}

						&:before {
							content: "";
							background: url(~/gfx/treasurebg-sheet0.webp) 50% 50%/contain no-repeat;
							position: absolute;
							top: -7px;
							left: -31px;
							width: 64px;
							height: 64px;
							animation: scale-rotate 3s linear forwards;
						}
					}
				}

				.marker-key {
					position: absolute;
					top: 21px;
					left: 274px;
					width: 0;
					height: 0;
					border-left: 5px solid transparent;
					border-right: 5px solid transparent;
					border-bottom: 6px solid #fff;
					min-height: 0;
					transition: min-height 3s;

					&:after {
						content: "";
						background: url(~/gfx/treasure-sheet0.webp) no-repeat;
						background-size: 66px auto;
						background-position: 0 -32px;
						position: absolute;
						top: 9px;
						left: -16px;
						width: 32px;
						height: 32px;
					}

					&.on {
						min-height: 1px;

						&:after {
							background-position: -34px -32px;
						}

						&:before {
							content: "";
							background: url(~/gfx/treasurebg-sheet0.webp) 50% 50%/contain no-repeat;
							position: absolute;
							top: -7px;
							left: -31px;
							width: 64px;
							height: 64px;
							animation: scale-rotate 3s linear forwards;
						}
					}
				}
			}

			.coins {
				background: #0005;
				position: absolute;
				top: 0;
				left: 251px;
				width: 87px;
				height: 29px;
				padding: 2px 0 0 23px;
				border-radius: 3px;
				box-shadow: 0px 5px 0px 0px #0007;
				text-shadow: 0 1px 0 #0005;
				opacity: 1;
				transition: opacity 150ms ease-in-out;
				transition-delay: var( --td );

				&:before {
					content: "";
					background: url(~/gfx/coin.webp) 50% 50% no-repeat;
					position: absolute;
					top: -1px;
					left: -17px;
					width: 35px;
					height: 35px;
				}
			}

			.jems {
				background: #0005;
				position: absolute;
				top: 0;
				left: 366px;
				width: 87px;
				height: 29px;
				padding: 2px 0 0 23px;
				border-radius: 3px;
				box-shadow: 0px 5px 0px 0px #0007;
				text-shadow: 0 1px 0 #0005;
				transition: left 150ms ease-in-out;
				transition-delay: var( --td );

				&:before {
					content: "";
					background: url(~/gfx/jem.webp) 50% 50% no-repeat;
					position: absolute;
					top: -1px;
					left: -17px;
					width: 35px;
					height: 35px;
				}
			}
		}

		.dlg-exit-button {
			background: url(~/gfx/exitbtn-sheet0.webp) 50% 50% no-repeat;
			position: absolute;
			top: 13px;
			right: 21px;
			width: 49px;
			height: 24px;
			cursor: pointer;
			filter: drop-shadow(0 1px 0 #fff3);
		}

		.btn-ok {
			background: url(~/gfx/academyback-sheet0.webp) 50% 50% no-repeat;
			position: absolute;
			bottom: 5px;
			left: 119px;
			width: 119px;
			height: 64px;
			cursor: pointer;
			filter: drop-shadow(0px 3px 7px #0007);
		}

		.btn-resume {
			background: url(~/gfx/repausebtn-sheet0.webp) 50% 50% no-repeat;
			position: absolute;
			bottom: -11px;
			left: 66px;
			width: 168px;
			height: 68px;
			cursor: pointer;
			filter: drop-shadow(0px 3px 7px #0007);
		}

		.btn-upgrade {
			position: absolute;
			top: 30px;
			left: 30px;
			width: 46px;
			height: 44px;
			background: #f2f2f2;
			border-radius: 50%;
			cursor: pointer;
			box-shadow: 0px 5px 0px 0px darken(#fff, 19%),
						0 4px 7px #0009;

			&:before {
				content: "";
				background: url(~/gfx/arrow-up.webp) 50% 50%/contain no-repeat;
				position: absolute;
				top: 7px;
				left: 8px;
				width: 30px;
				height: 30px;
				animation: jump 2000ms ease-in-out infinite;
			}

		}

		.info {
			background: #2222;
			position: relative;
			display: block;
			width: 190px;
			height: 28px;
			margin: 3px auto;
			box-shadow: inset 0 2px 2px #0004;
			border-radius: 2px;
			padding: 4px 0 0 37px;
			color: #fff;
			font-size: 19px;
			text-shadow: 0 1px 1px #f00a,
						0 -1px 1px #f00a,
						1px 0 1px #f00a,
						-1px 0 1px #f00a;

			&:before {
				content: "";
				background: url(~/gfx/attsprite-sheet0.webp) 50% 50%/contain no-repeat;
				position: absolute;
				top: 3px;
				left: 5px;
				width: 24px;
				height: 24px;
			}

			.price {
				background: url(~/gfx/academybtn-sheet0.webp) 50% 50% no-repeat;
				background-position: 0 -34px;
				background-size: 100% auto;
				position: absolute;
				top: -1px;
				left: 94px;
				width: 98px;
				height: 32px;
				font-size: 18px;
				cursor: pointer;
				text-shadow: 0 1px 1px #000a,
							0 -1px 1px #000a,
							1px 0 1px #000a,
							-1px 0 1px #000a;
				padding: 6px 0 0 49px;
				filter: drop-shadow(0 0 1px #0007);

				&.active {
					background-position: 0 0;
					cursor: pointer;
				}
			}
		}
	}
}


@keyframes left-cloud {
	0%   { left: -253px; }
	100% { left: -47px; }
}

@keyframes right-cloud {
	0%   { left: 397px; }
	100% { left: 167px; }
}

@keyframes wizard-hover {
	0%   { background-position: -1320px 0px; }
	100% { background-position: 0px 0px; }
}

@keyframes wizard-back-hover {
	0%   { background-position: -1372px 0px; }
	100% { background-position: 0px 0px; }
}

@keyframes jump {
	0%   { transform: translateY(0px) scale(1); }
	20%  { transform: translateY(-4px) scale(1.1); }
	35%  { transform: translateY(3px) scale(.85); }
	40%  { transform: translateY(0px) scale(1); }
	100% { transform: translateY(0px) scale(1); }
}

@keyframes rotate-360 {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes scale-rotate {
	0%   { transform: rotate(0deg) scale(.35); }
	20%  { transform: rotate(60deg) scale(1); }
	80%  { transform: rotate(180deg) scale(1); }
	100% { transform: rotate(240deg) scale(.35); }
}


@font-face {
	font-family: "Bakbak One";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/Bakbak-One.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
