
background: #0063ac;
color: #fff;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	font-family: "Changa One";
	font-size: 26px;

	&[data-show="start"] {
		> div[data-area="start"] { display: block; }
	}

	&[data-show="game"] {
		> div[data-area="game"] { display: block; }
	}


	&[data-dialog="pause"] {
		> div[data-area="pause"] { display: block; }
	}

	&[data-dialog="academy"] {
		> div[data-area="academy"] { display: block; }
	}

	&[data-dialog="laboratory"] {
		> div[data-area="laboratory"] { display: block; }
	}


	> div {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: inherit;

		&[data-area="start"] {
			background: url(~/gfx/bg-sheet0.webp) 50% 50% no-repeat;
			background-position: 0 0;

			.top-level,
			.top-coins,
			.top-jems {
				top: 15px;
			}

			.wall {
				background: url(~/gfx/homeborder-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 50px;
				left: 0;
				right: 0;
				height: 160px;
			}

			.wizard {
				background: url(~/gfx/wizard.webp) 50% 50% no-repeat;
				// background-position: 0 0;
				position: absolute;
				top: 163px;
				left: 200px;
				width: 88px;
				height: 128px;
				animation: wizard-hover 1800ms steps(15) infinite;
			}

			.chest {
				background: url(~/gfx/awardbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 193px;
				left: 39px;
				width: 111px;
				height: 125px;
			}

			.book {
				background: url(~/gfx/skilllevelbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 216px;
				left: 330px;
				width: 121px;
				height: 112px;
			}

			.ball {
				background: url(~/gfx/balllevelbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 338px;
				left: 187px;
				width: 109px;
				height: 137px;
			}

			.cloud-1 {
				background: url(~/gfx/yun1-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 545px;
				// left: -63px;
				width: 250px;
				height: 308px;
				animation: left-cloud 13s ease-in-out alternate infinite;
			}

			.cloud-2 {
				background: url(~/gfx/yun2-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 505px;
				// left: 257px;
				width: 361px;
				height: 364px;
				animation: right-cloud 19s ease-in-out alternate infinite;
			}

			.btn-play {
				background: url(~/gfx/playbtn-sheet0.webp) 50% 50% no-repeat;
				background-position: 0 0;
				position: absolute;
				top: 615px;
				left: 131px;
				width: 220px;
				height: 114px;

				&:active {
					background-position: 0 -117px;
				}
			}

			.btn-cog {
				background: url(~/gfx/settingbtn-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 705px;
				left: 21px;
				width: 78px;
				height: 81px;
			}

			.settings {
				opacity: 0;
				background: #0004;
				position: absolute;
				bottom: 12px;
				left: 18px;
				width: 84px;
				height: 84px;
				border-radius: 7px;
				padding: 8px;
				transition: opacity 250ms ease-in-out,
							height 250ms ease-in-out;

				&.show {
					opacity: 1;
					height: 312px;

					> div {
						opacity: 1;
						margin-bottom: 3px;
					}
				}

				> div {
					opacity: 0;
					margin-bottom: -40px;
					transition: opacity 200ms ease-in-out,
								margin-bottom 200ms ease-in-out;
				}

				.btn-info {
					display: inline-block;
					background: url(~/gfx/creditsbtn-sheet0.webp) 50% 50%/contain no-repeat;
					width: 67px;
					height: 67px;
				}

				.btn-fullscreen {
					display: inline-block;
					background: url(~/gfx/fullscreenbtn-sheet0.webp) 50% 50%/contain no-repeat;
					width: 67px;
					height: 67px;
				}

				.btn-music {
					background: url(~/gfx/musicbtn-sheet1.webp) 50% 50%/contain no-repeat;
					display: inline-block;
					width: 67px;
					height: 67px;
				}
			}
		}

		&[data-area="game"] {
			background: url(~/gfx/bg-sheet0.webp) 50% 50% no-repeat;
			background-position: -482px 0;

			.wall {
				background: url(~/gfx/homeborder-sheet0.webp) 50% 50% no-repeat;
				position: absolute;
				top: 610px;
				left: 0;
				right: 0;
				height: 160px;
			}

			.wizard {
				background: url(~/gfx/wizard-back.webp) 50% 50% no-repeat;
				// background-position: 0 0;
				position: absolute;
				top: 657px;
				left: 200px;
				width: 98px;
				height: 111px;
				animation: wizard-back-hover 1600ms steps(14) infinite;
			}
		}

		&[data-area="pause"] {
			background: #0005;
			backdrop-filter: blur(3px);

			.bg-pause {
				background: url(~/gfx/pausebg-sheet0.png) 50% 50% no-repeat;
				position: absolute;
				top: 167px;
				left: 89px;
				width: 300px;
				height: 403px;
			}
		}

		&[data-area="academy"] {
			background: #0005;
			backdrop-filter: blur(3px);

			.bg-academy {
				background: url(~/gfx/academybg-sheet0.png) 50% 50% no-repeat;
				position: absolute;
				top: 67px;
				left: 59px;
				width: 360px;
				height: 625px;
			}
		}

		&[data-area="laboratory"] {
			background: #0005;
			backdrop-filter: blur(3px);

			.bg-laboratory {
				background: url(~/gfx/laboratorybg-sheet0.png) 50% 50% no-repeat;
				position: absolute;
				top: 67px;
				left: 59px;
				width: 360px;
				height: 636px;
			}
		}

		.btn-ok {
			background: url(~/gfx/academyback-sheet0.png) 50% 50% no-repeat;
			position: absolute;
			bottom: 5px;
			left: 119px;
			width: 119px;
			height: 64px;
		}

		.btn-resume {
			background: url(~/gfx/repausebtn-sheet0.png) 50% 50% no-repeat;
			position: absolute;
			bottom: -11px;
			left: 66px;
			width: 168px;
			height: 68px;
		}

		.top-level {
			background: #fff;
			position: absolute;
			top: 8px;
			left: 13px;
			width: 65px;
			height: 29px;
			padding: 3px 0 0 29px;
			border-radius: 3px;
			font-size: 23px;
			color: #666;
			box-shadow: 0px 5px 0px 0px darken(#fff, 11%);

			&:before {
				content: "";
				background: url(~/gfx/flag.webp) 50% 50% no-repeat;
				position: absolute;
				top: 3px;
				left: 7px;
				width: 17px;
				height: 22px;
			}
		}

		.top-coins {
			background: #0005;
			position: absolute;
			top: 8px;
			left: 245px;
			width: 97px;
			height: 29px;
			padding: 2px 0 0 23px;
			border-radius: 3px;
			box-shadow: 0px 5px 0px 0px #0007;
			text-shadow: 0 1px 0 #0005;

			&:before {
				content: "";
				background: url(~/gfx/coin.webp) 50% 50% no-repeat;
				position: absolute;
				top: -1px;
				left: -17px;
				width: 35px;
				height: 35px;
			}
		}

		.top-jems {
			background: #0005;
			position: absolute;
			top: 8px;
			left: 373px;
			width: 97px;
			height: 29px;
			padding: 2px 0 0 23px;
			border-radius: 3px;
			box-shadow: 0px 5px 0px 0px #0007;
			text-shadow: 0 1px 0 #0005;

			&:before {
				content: "";
				background: url(~/gfx/jem.webp) 50% 50% no-repeat;
				position: absolute;
				top: -1px;
				left: -17px;
				width: 35px;
				height: 35px;
			}
		}
	}
}


@keyframes left-cloud {
	0%   { left: -253px; }
	100% { left: -47px; }
}

@keyframes right-cloud {
	0%   { left: 397px; }
	100% { left: 167px; }
}

@keyframes wizard-hover {
	0%   { background-position: -1320px 0px; }
	100% { background-position: 0px 0px; }
}

@keyframes wizard-back-hover {
	0%   { background-position: -1372px 0px; }
	100% { background-position: 0px 0px; }
}


@font-face {
	font-family: "Changa One";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/Changa-One.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
